BODY
{
    FONT-FAMILY: Verdana
}
TD.regular
{
    FONT-SIZE: 68.75%
}
TD.regular A:visited
{
    COLOR: #6699cc
}
P A:visited
{
    COLOR: #6699cc
}
P
{
    FONT-SIZE: 81.25%;
    MARGIN-BOTTOM: 1.5ex;
    MARGIN-TOP: 0px
}
P.indented
{
    FONT-SIZE: 81.25%;
    MARGIN: 0px 0px 1.5ex 30px
}
.small
{
    FONT-SIZE: 68.75%
}
.small A:visited
{
    COLOR: #6699cc
}
.small P
{
    FONT-SIZE: 100%
}
.finePrint
{
    FONT-SIZE: 62.5%
}
.finePrint A:visited
{
    COLOR: #6699cc
}
HR
{
    COLOR: #0099ff;
    HEIGHT: 1px
}
UL
{
    FONT-SIZE: 100%;
    LIST-STYLE: square;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 0.5em;
    MARGIN-TOP: 0px
}
OL
{
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 2em;
    MARGIN-TOP: 0px
}
OL UL
{
    FONT-SIZE: 100%
}
UL OL
{
    FONT-SIZE: 100%
}
LI
{
    MARGIN-BOTTOM: 1.5ex
}
UL.toc
{
    FONT-SIZE: 68.75%;
    LIST-STYLE: square;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 1.25em;
    MARGIN-TOP: 0px
}
.toc LI
{
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px
}
UL.smallcontent
{
    FONT-SIZE: 68.75%;
    LIST-STYLE: square;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 1.5em;
    MARGIN-TOP: 0px
}
.smallcontent LI
{
    MARGIN-BOTTOM: -0.25em;
    MARGIN-TOP: -0.25em
}
UL.content
{
    FONT-SIZE: 68.75%;
    LIST-STYLE: square;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 1.25em;
    MARGIN-TOP: 0px
}
.content LI
{
    MARGIN-BOTTOM: -3px;
    MARGIN-TOP: -3px
}
UL UL
{
    FONT-SIZE: 100%;
    MARGIN: 0px 0px 0px 30px
}
UL UL UL
{
    FONT-SIZE: 100%;
    MARGIN: 0px 0px 10px 30px
}
HR.toc
{
    MARGIN-TOP: 2px;
    PADDING-BOTTOM: 20px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 10px
}
TD.content
{
}
A
{
    COLOR: #003366
}
H1
{
    FONT-SIZE: 112.5%;
    FONT-WEIGHT: bold;
    MARGIN: 0px
}
H2
{
    FONT-SIZE: 87.5%;
    FONT-WEIGHT: bold;
    MARGIN: 0px
}
H3
{
    FONT-SIZE: 81.25%;
    FONT-WEIGHT: bold;
    MARGIN: 0px
}
H4
{
    FONT-SIZE: 68.75%;
    FONT-WEIGHT: bold;
    MARGIN: 0px
}
H5
{
    FONT-SIZE: 62.5%;
    FONT-WEIGHT: bold;
    MARGIN: 0px
}
.PullQuote
{
    COLOR: #0099ff;
    FONT-SIZE: 87.5%;
    FONT-STYLE: italic;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0.6ex
}
.PostingDate
{
    FONT-SIZE: 87.5%;
    FONT-WEIGHT: normal;
    MARGIN-BOTTOM: 5px;
    MARGIN-TOP: 5px
}
TABLE.related
{
    BORDER-BOTTOM: #0099ff 1px solid;
    BORDER-LEFT: #0099ff 1px solid;
    BORDER-RIGHT: #0099ff 1px solid;
    BORDER-TOP: #0099ff 1px solid;
    FONT-SIZE: 61%;
    LEFT: 15px;
    POSITION: relative;
    TOP: -6px
}
.related P
{
    FONT-SIZE: 100%
}
.related THEAD
{
    BACKGROUND-COLOR: #99ccff;
    FONT-WEIGHT: bold
}
.related THEAD TD
{
    BORDER-BOTTOM: #0099ff 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 0px
}
.related TABLE TD
{
    FONT-SIZE: 62.5%;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.related A
{
    FONT-WEIGHT: bold
}
.WhiteNav
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #003366;
    FONT-SIZE: 68.75%;
    PADDING-LEFT: 0px
}
.LightBlueNav
{
    BACKGROUND-COLOR: #99ccff;
    COLOR: #003366;
    FONT-SIZE: 68.75%;
    PADDING-LEFT: 5px;
    WIDTH: 125px
}
.FeatureLink
{
    COLOR: #003366;
    TEXT-DECORATION: none
}
.WhiteNav A:hover
{
    TEXT-DECORATION: underline
}
.LightBlueNav A:hover
{
    TEXT-DECORATION: underline
}
.BlueNav
{
    BACKGROUND-COLOR: #99ccff;
    COLOR: #003366;
    CURSOR: hand;
    FONT-SIZE: 68.75%;
    PADDING-LEFT: 5px
}
.BlueLink
{
    COLOR: #003366;
    TEXT-DECORATION: none;
    WIDTH: 125px
}
.paddedNav
{
    MARGIN-LEFT: 0px
}
.LeftNavOff
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: white 2px solid;
    BORDER-LEFT: white 2px solid;
    BORDER-RIGHT: white 2px solid;
    BORDER-TOP: white 2px solid;
    COLOR: black;
    CURSOR: hand;
    FONT-FAMILY: verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 10pt;
    MARGIN: 2px 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none;
    WIDTH: 10px
}
.LeftNavUp
{
    BACKGROUND-COLOR: #0099ff;
    BORDER-BOTTOM: #003399 2px solid;
    BORDER-LEFT: #99ccff 2px solid;
    BORDER-RIGHT: #003399 2px solid;
    BORDER-TOP: #99ccff 2px solid;
    COLOR: white;
    CURSOR: hand;
    FONT-FAMILY: verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    HEIGHT: 0pt;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 10pt;
    MARGIN: 2px 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none;
    WIDTH: 10px
}
.LeftNavDown
{
    BACKGROUND-COLOR: #0099ff;
    BORDER-BOTTOM: #99ccff 2px solid;
    BORDER-LEFT: #003399 2px solid;
    BORDER-RIGHT: #99ccff 2px solid;
    BORDER-TOP: #003399 2px solid;
    COLOR: white;
    CURSOR: hand;
    FONT-FAMILY: verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 10pt;
    MARGIN: 2px 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none;
    WIDTH: 10px
}
.LeftNavOn
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: #99ccff 2px solid;
    BORDER-LEFT: #003399 2px solid;
    BORDER-RIGHT: #99ccff 2px solid;
    BORDER-TOP: #003399 2px solid;
    COLOR: #666666;
    FONT-FAMILY: verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 10pt;
    MARGIN: 2px 0px 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none;
    WIDTH: 10px
}
.LeftNavChosen
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: #99ccff 2px solid;
    BORDER-LEFT: #003399 2px solid;
    BORDER-RIGHT: #99ccff 2px solid;
    BORDER-TOP: #003399 2px solid;
    COLOR: #000000;
    CURSOR: hand;
    FONT-FAMILY: verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LETTER-SPACING: -0.5pt;
    LINE-HEIGHT: 10pt;
    MARGIN: 2px 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none;
    WIDTH: 10px
}
TR.NavTab
{
    BACKGROUND-COLOR: #6699cc;
    COLOR: #ffffff;
    FONT-SIZE: 62.5%;
    FONT-WEIGHT: bold
}
A.NavLink
{
    COLOR: #003366;
    CURSOR: hand;
    TEXT-DECORATION: none
}
A.NavLink A:visited
{
    COLOR: #003366
}
TR.NavItem
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #003366;
    FONT-SIZE: 62.5%;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 3px
}
TR.NavItem A:visited
{
    COLOR: #003366
}
TR.NavItemSelected
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #6699cc;
    FONT-SIZE: 62.5%;
    FONT-WEIGHT: bold
}
TR.NavItemSelected A:visited
{
    COLOR: #003366
}
TR.NavItemSub
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #003366;
    FONT-SIZE: 62.5%;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
TR.NavItemSubSelected
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #6699cc;
    FONT-SIZE: 62.5%
}
TABLE.idTable
{
    BORDER-BOTTOM: #636363 1px solid
}
.idTable TD
{
    BORDER-TOP: #636363 1px solid;
    FONT-SIZE: 61.25%;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 2px
}
.idTable THEAD
{
    BACKGROUND-COLOR: #cecece;
    FONT-WEIGHT: bold
}
.idTable TH
{
    BACKGROUND-COLOR: #cecece;
    BORDER-TOP: #636363 1px solid;
    FONT-SIZE: 61.25%;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: left
}
.idTable P
{
    FONT-SIZE: 100%
}
.idTable UL
{
    FONT-SIZE: 100%
}
.idTable OL
{
    FONT-SIZE: 100%
}
.NavButton
{
    BACKGROUND-COLOR: #0099ff;
    BORDER-BOTTOM: #003366 1px solid;
    BORDER-LEFT: #99ccff 1px solid;
    BORDER-RIGHT: #003366 1px solid;
    BORDER-TOP: #99ccff 1px solid;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-SIZE: 75%;
    FONT-WEIGHT: bold;
    WIDTH: 100%
}
.NavButtonOn
{
    BACKGROUND-COLOR: #99ccff;
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #003366 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #003366 1px solid;
    COLOR: #003366;
    FONT-SIZE: 75%;
    FONT-WEIGHT: bold;
    WIDTH: 100%
}
.SortButton
{
    BACKGROUND-COLOR: #0099ff;
    BORDER-BOTTOM: #003366 1px solid;
    BORDER-LEFT: #99ccff 1px solid;
    BORDER-RIGHT: #003366 1px solid;
    BORDER-TOP: #99ccff 1px solid;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-SIZE: 100%;
    FONT-WEIGHT: bold
}
.SortButtonOn
{
    BACKGROUND-COLOR: #99ccff;
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #003366 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #003366 1px solid;
    COLOR: #003366;
    FONT-SIZE: 100%;
    FONT-WEIGHT: bold
}
.clsIButton
{
    BACKGROUND-COLOR: #0099ff;
    BORDER-BOTTOM: #003366 1px solid;
    BORDER-LEFT: #99ccff 1px solid;
    BORDER-RIGHT: #003366 1px solid;
    BORDER-TOP: #99ccff 1px solid;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-SIZE: 75%;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 1px;
    MARGIN-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    VISIBILITY: hidden
}
.clsIButtonOn
{
    BACKGROUND-COLOR: #99ccff;
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #003366 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #003366 1px solid;
    COLOR: #003366;
    CURSOR: hand;
    FONT-SIZE: 75%;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 1px;
    MARGIN-RIGHT: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    VERTICAL-ALIGN: baseline;
    VISIBILITY: hidden
}
.clsFindButton
{
    BACKGROUND-COLOR: #0099ff;
    BORDER-BOTTOM: #003366 1px solid;
    BORDER-LEFT: #99ccff 1px solid;
    BORDER-RIGHT: #003366 1px solid;
    BORDER-TOP: #99ccff 1px solid;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    MARGIN-TOP: 9px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px
}
.clsIButtonSort
{
    BACKGROUND-COLOR: #0099ff;
    BORDER-BOTTOM: #003366 1px solid;
    BORDER-LEFT: #99ccff 1px solid;
    BORDER-RIGHT: #003366 1px solid;
    BORDER-TOP: #99ccff 1px solid;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-SIZE: 62%;
    FONT-WEIGHT: bold;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    VISIBILITY: hidden
}
.clsIButtonSortOn
{
    BACKGROUND-COLOR: #99ccff;
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #003366 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #003366 1px solid;
    CURSOR: hand;
    FONT-SIZE: 62%;
    FONT-WEIGHT: bold;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    VISIBILITY: hidden
}
.clsIButtonTD
{
    FONT-SIZE: 68.75%;
    VISIBILITY: hidden
}
.clsBBorder
{
    BORDER-BOTTOM: #6699cc 1px solid;
    MARGIN-TOP: 10px
}
TD.clsHeading
{
    BACKGROUND-COLOR: #ff9900;
    COLOR: #003366;
    FONT-SIZE: 62%;
    FONT-WEIGHT: bold;
    PADDING-LEFT: 4px
}
TD.TEeyeBNav
{
    BORDER-LEFT: white 1px solid;
    COLOR: #003366;
    FONT-WEIGHT: bold
}
TD.TEeyeBnavOn
{
    BACKGROUND-COLOR: #ff6600;
    BORDER-LEFT: white 1px solid;
    COLOR: white;
    FONT-WEIGHT: bold
}
#TEeyeBnavFirstCell
{
    BORDER-LEFT: white 0px solid
}
A.TEeyeBNav
{
    COLOR: #003366;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
TD.TEeyeBnavlevel3
{
    BACKGROUND-COLOR: #ff6600;
    BORDER-LEFT: white 1px solid;
    COLOR: #ff6600;
    FONT-WEIGHT: bold
}
.sbTab
{
    COLOR: #003366;
    FONT-SIZE: 62.5%
}
A.sbTagLink
{
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.sbSelected
{
    COLOR: #6699cc;
    FONT-SIZE: 62.5%;
    FONT-WEIGHT: bold
}
.small UL
{
    FONT-SIZE: 100%;
    LIST-STYLE: square;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 1.5em;
    MARGIN-TOP: 0px
}
